*.egg-info
*.pyc
.tox
.coverage
.coverage.*
coverage.xml
.coveralls.yml
.eggs
.cache
.pytest_cache
.python-version
.venv
venv/
.idea/

/build/
/dist/
/docs/_build/
/htmlcov/


# Editors
.idea/
.vscode/
